/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2016, 07:56:52 PM
    Author     : José Sacramento Muñoz Pérez
*/

body, .jumbotron{
    background-color: #3d3d3d;
    color: white;
}

footer{
    background: black;
     border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    color:white;
    padding: 15px;

}

img{
    max-height: 500px;
    vertical-align: baseline;
}

.jumbotron{
    margin-bottom: 5px;
    padding-top:5px;
    padding-bottom:0px;
}

.navbar-inverse,footer{
    background-color: #000;
    margin-bottom: 0px;
}
#menu > a:hover{
    color: #ffffff;
    background-color: #847f67;
}

.body-content{
    background-color:white;
    color:black;
    min-height: 400px;
    /*padding-bottom:40px;*/
}

.footer{
    background-color:black;
    min-height:50px;
    /*margin-left: -15px;*/
}

/* Estilos Slider */

.slides li img{margin: 0 auto;}
#main{padding-top: 20px;}
.center{text-align: center;}

/* Correcciones de estilo del slider */
#slider{padding-bottom: 40px;}
#slider .flex-direction-nav li a.prev {left: -16px;}
#slider .flex-direction-nav li a.next {right: -24px;}

#main{
    
    box-shadow: 5px 5px 10px 15px #888888;
    margin: auto;
    margin-top: 20px;
    max-height: 600px;
    max-width: 900px; 
}
/* Estilo del Logotipo en el Header */
#Logo{
    max-height: 150px;
    max-width: 150px;
}

#Informacion{
    border-top: 1px captiontext solid;
    padding-top: 10px;
    margin-top: 60px;
}

/* Estilos de la Seccion de Servicios */

/*.service-box {
	display: block;
	transition: all 300ms ease-out 0s;
	margin-bottom: -120px;
	position: relative;
	z-index: 0;
}


.service-effect img.service-box-image {
	height: 200px;
	width: 200px;
}

.service-box img {
	border: 2px solid #FFFFFF;
	border-radius: 100%;
	margin: 0 auto 16px;
	transition: all 600ms ease-out 0s;
	width: 200px;
	height: 200px;
}*/
/*Homepage Service Section--------------------------------------------------------------------------*/ 
.section_heading_title {
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px auto 65px;
    padding: 0 15px;
    position: relative;
    width: 97.4%;
}
.section_heading_title h1 {
    font-family:'Roboto';
    font-weight:500;
    font-size: 36px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 10px;
    text-align: center;
    
}
.section_heading_title p {
	font-family:'Roboto';
	font-weight:400;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px;
    text-align: center;
    
}
.pagetitle-separator{
		background: #cccccc !important;
		height: 1px;
		margin: 23px auto 45px;
		width: 250px;
}
.pagetitle-separator-border{
		width: 101px;
		height: 3px;
		margin: 0 auto;
		position: relative;
		top: -2px;
}
.pagetitle-separator-box{
		height: 10px;
	    margin: 23px auto 45px;
	    position: relative;
	    top: -4px;
	    transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		width: 10px;
}
.service-section {
	padding: 70px 0 20px;
}
.service-box {
    display: block;
    transition: all 300ms ease-out 0s;
    margin-bottom: -120px;
    position: relative;
    z-index: 0;
    text-align: center;
}
.service-box img {
	border: 2px solid #FFFFFF;
    border-radius: 100%;
    margin: 0 auto 16px;
    transition: all 600ms ease-out 0s;
	width: 150px;
	height: 150px;
}
.service-box1 img {
    border-radius: 100%;
    height: 125px;
    margin: 0 auto 16px;
    transition: all 600ms ease-out 0s;
    width: 125px;
}
.service-effect:hover .service-box img { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg); 
}

/* Edit by Harish For Service Image*/
.service-area {
    border: solid;
    margin: 0px 0 60px;	
    padding: 127px 30px 30px;
    transition: background 0.3s ease-in-out 0s;
}
.service-area h2 {
    font-family:'Roboto';
	font-weight:400;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 11px;
    text-align: center;
	
}
.service-area p {
    font-family:'Roboto';
	font-weight:400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 27px;
    margin-top: 0;
    padding: 0px;
    text-align: center;
}
.service-btn {
    display: block;
    text-align: center;
	margin: 0 0 20px;
}
.service-btn a {
	display: inline-block;
	font-family:'Roboto';
	font-weight:400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 9px 18px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
/*Other Services Section-------------------------------------------------------------------------------*/
.other-service-area {
	border-radius: 0px;
	margin-bottom: 50px;
	padding: 0px 5px 5px;
	transition: all 0.4s ease 0s;
	text-align: center;
}
.other-service-area i {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 17px;
	font-size: 40px;
	border-radius: 100%;
	width: 125px;
	height: 125px;
	line-height: 120px;
	transition: all 0.3s ease 0s;
}

/*** Added By Harish For Service Template Images ***/
.other-service-area1 {
	display: block;
    position: relative;
    transition: all 300ms ease-out 0s;
    z-index: 0;
	margin-bottom: -104px;
}
.other-service-area1 i {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 100px;
	border-radius: 100%;
	line-height: 120px;
	text-align: center;
}
.other-service-area1 i{
	border-radius: 100%;
    transition: all 600ms ease-out 0s;
	width: 200px;
	height: 200px;
	padding-top : 39px;
}

.service-effect:hover .other-service-area1 i{ 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
/*//// Finish Here For Service Template Images */	